.wrapper {
  position: relative;
  display: flex;
  border-radius: 1.2rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  max-width: 1050px;
  margin: auto;
  margin-top: 16px;
}

.header-wrapper {
  display: flex;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  padding: 0.3rem;
  position: relative;
  height: 4rem;
}

.search-container {
  display: flex;
  align-items: center;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 1.2rem;
  background-color: white;
}

.search-container:hover {
  background-color: rgba(243, 244, 245, 1);
  cursor: pointer;
}

.search-container {
  padding: 0.8rem;
  margin-right: 8px;
}

.search-container svg {
  font-size: 20px;
  font-weight: normal;
  margin-right: 1.2rem;
}

.search-container .input-label {
  display: flex;
  flex-direction: column;
}
.search-container .input-label .label-name {
  font-size: 0.9rem;
  line-height: 1.25;
}

.search-container .input-label input {
  border: none;
  background: transparent;
  cursor: pointer;
}

.search-container .input-label input:focus {
  border: none;
  outline: none;
  background: transparent;
}

/* adjust room  */
.room-wrapper {
  margin-left: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  width: 350px;
}

.room-wrapper button {
  padding: 16px 0;
  padding: 16px 0;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.room-wrapper span {
  font-size: 12px;
  color: #6c707a;
}
.room-wrapper div {
  margin-top: 4px;
  font-weight: 500;
}

.room-card {
  position: absolute;
  top: 75px;
  left: 0px;
  padding: 24px 32px 0;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 1.2rem;
  width: 356px;
}

.guest-room-wrapper {
  position: relative;
}

.guest-room-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guest-room-number {
  display: flex;
  justify-content: space-between;
  width: 116px;
}

.guest-room-number button:nth-child(1),
.guest-room-number button:nth-child(3) {
  appearance: none;
  border: 1px solid #007cc2;
  background: transparent;
  border-radius: 50%;
  width: 21px;
}

.guest-room-number div:nth-child(2) {
  border: 1px solid #6c707a;
  padding: 0 8px;
}

.guest-room-card {
  height: 168px;
  overflow-y: scroll;
}

.children-age-wrapper {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkbox-wrapper p,
.checkbox-wrapper h5 {
  margin: 0;
}

.checkbox-wrapper {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.button-wrapper button:nth-child(1) {
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.button-wrapper button:nth-child(2) {
  background-color: #007cc2;
  color: white;
  border-radius: 8px;
  padding: 6px 32px;
  appearance: none;
  border: none;
  cursor: pointer;
}
.submit-button button{
  margin-top: 9px;
  font-size: 17px;
  background-color: #007cc2;
  color: white;
  border-radius: 8px;
  padding: 19px 23px;
  appearance: none;
  border: none;
  cursor: pointer;
  margin-left: -80px;
}

::-webkit-scrollbar {
  display: none;
}
